* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Jost', sans-serif;
    background-color: #F5F3E3;
    font-size: 12px;
}

.logodiv {
    display: flex;
    justify-content: center;
    margin-top: 11%;
}

button {
    padding: 0.6rem;
    border-radius: 20%;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px darkgray;
    margin: 10px;
    background: #8c55ff;
    font-family: 'Jost', sans-serif;
    color: white;
}

.sendwrapper {
    position: fixed;
    bottom: 0;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
}

button:hover {
    transform: scale(1.1)
}

h1 {
    width: 100vw;
    text-align: center;
    font-weight: 600;
}

.textonimg h2 {
    text-align: center;
    font-weight: 600;
    padding-top: 3%;
    font-size: 20px;
    margin: 2%;
    color: #F5F3E3;
    z-index: 2;
}

.textonimg p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3%;
    margin: 2%;
    color: #F5F3E3;
}

.textonimg a {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 3%;
    margin: 2%;
    margin-top: 8%;
    color: #F5F3E3;
    text-decoration: underline;
    
}

p {
    font-size: 16px;
}

.paperstyle {
    padding: 1.2rem;
    box-sizing: border-box;
    margin-top: 3%;
    padding-bottom:0;
    position: relative;
   
}

.textonimg {
    margin:10%;
    position: absolute;
    display:flex;
    align-content:center;
    flex-direction: column
}

img {
    border-radius: 7px;
   
}


/* nav {
    position: sticky;
    bottom: 0;
    
} */

ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: #F5F3E3;
    border-top:1px solid #8c55ff;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.msgcontainer {
    margin-bottom: 5rem;
    /* max-width: 50%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; */
}
.msgs {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
  }
.msg {
    display: flex;
    padding: 20px 10px 0 20px;
    margin: 20px;
    border-radius: 3000px;
    box-shadow: 5px 5px 5px darkgray;
    align-items: center;
    min-height: fit-content;
}
.sent {
    background-color: #ea6866;
    color: white;
    border-top-right-radius: 1000px;
    flex-direction: row-reverse;
    padding: 1rem;
    text-align: end;
    float: right;
}
.received {
    color: white;
    background-color: #5e4ae3;
    border-top-left-radius: 1000px;
    padding: 1rem;
    float: left;
    text-align: right;
}

input {
    border-radius: 7%;
    border-style: none;
    padding: 0.8rem;
    width: 50%;
    /* margin-left: 2rem;
    margin-bottom: 4rem;
    position: fixed;
    bottom: 0; */
}

.category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.category-card {
    background: #ea6866;
    padding: 15px;
    margin: 20px;
    width: 9rem;
    height: 9rem;
    border-radius: 7px;
    opacity: 0.8;
}

.dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10%;
}

select {
    border-radius: 7%;
    border-style: none;
    /*-box-shadow: 2px 2px 2px darkgray; */
    font-family: 'Jost', sans-serif;
    background-color: #F5F3E3;
    font-size: 18px;
}

/* .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
} */

.settingswrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


/* 
lila: #8c55ff , RGB: 140, 85, 255
beige: #eeebd0 , RGB: 238, 235, 208

röd: #ce2d4f , RGB: 206, 45, 79
orange: #ea6866 , RGB: 234, 104, 102
grön: #56a3a6 , RGB: 86, 163, 166
blå: #5e4ae3 , 94, 64, 227 */